form {
    margin: auto;
    max-width: 400px;
    padding: 1rem;
    border: groove 1px lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
}

.loginField {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.loginButton {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.loginButton:hover {
    background-color: #006aee;
}

.error {
    display: none;
    background-color: #ff2222;
    margin: 15px auto;
    max-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
}